#simple-404 {

    display: inline-block;
    text-align: center;

    .main-header {
        font-size: 3em;
        word-spacing: 0.5em;
    }
    .body {
        font-size: 1em;
        word-spacing: 0.1em;
    }
}